# Chezmoi configuration template
# This file will be processed as a template when chezmoi is initialized

[data]
    name = {{ promptStringOnce . "name" "Full name" | quote }}
    git_email_default = {{ promptStringOnce . "git_email_default" "Default git email" | quote }}

[edit]
    command = "micro"

[diff]
    pager = "delta"

[interpreters.nu]
    command = "mise"
    args = ["exec", "aqua:nushell/nushell", "--"]
