# ~/.gitconfig - Git configuration

[user]
{{- if .git_email_default }}
    email = {{ .git_email_default }}
{{- end }}
{{- if .name }}
    name = {{ .name }}
{{- end }}
    signingkey = ~/.ssh/id_ed25519_signing.pub
    useconfigonly = true

[includeIf "hasconfig:remote.*.url:**/*github.com/**"]
    path = ~/.gitconfig.github

[includeIf "hasconfig:remote.*.url:**/*gitlab.com/**"]
    path = ~/.gitconfig.gitlab

[includeIf "hasconfig:remote.*.url:**/*codefloe.com/**"]
    path = ~/.gitconfig.codefloe

[core]
    editor = micro
    pager = delta
    autocrlf = input
    askpass = true

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = simple
    autoSetupRemote = true

[color]
    ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    mterm = mergetool --tool=sdiff
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = log --oneline --graph --decorate --all

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    line-numbers = true
    side-by-side = true

[merge]
    tool = goland
    conflictstyle = zdiff3

[mergetool]
    keepBackup = false

[mergetool "goland"]
    cmd = goland merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    trustExitCode = true

[mergetool "sdiff"]
    cmd = "sdiff -o \"$MERGED\" \"$LOCAL\" \"$REMOTE\"; test $? -lt 2"
    trustExitCode = true

[diff]
    colorMoved = default

[credential]
    helper = cache --timeout=3600

[gpg]
    format = ssh

[commit]
    gpgsign = true

[protocol "https"]
    allow = always

[url "https://"]
    insteadOf = http://
